/* Filename - App.css */

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  border-radius: 10px;
  color: white;
}

h1 {
  margin-bottom: 20px;
}

.data-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
  width: 100%;
  max-width: 400px;
}

label {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.submit-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #0056b3;
}

.submitted-data {
  margin-top: 20px;
  /* background-color: #e2f0d9;
  border: 1px solid #d0e0d6; */
  border-radius: 5px;
  padding: 10px;
}
